<!-- Name: CP Jiang / Student ID: 1148594 -->
<!-- root route for student access -->
<!-- Added a father page of student template-->

<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Contact</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-starter.css') }}">
  <!-- Template CSS -->
  <link href="http://fonts.googleapis.com/css?family=Muli:300,300i,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap" rel="stylesheet">
  <!-- Template CSS -->

</head>
<body>

<!--/top-header-content-->
<section class="w3l-top-header-content">
	<div class="hny-top-menu">
		<div class="top-hd">
			<div class="container-fluid">
				<div class="row">
					<ul class="social-top col-md-7">
						{% if not session['user_id'] %}
                        <li class="log-link mr-3"><a class="sign-in"  href="/login"><span class="fa fa-user"></span> Sign In</a></li>
                        {% else %}
                            Hello <li class="log-link mr-3"><span class="fa fa-user">{{ session['name'] }}</span></li>
                            <li class="log-link mr-3"><span class="fa fa-user" style="color:white;">{{ session['name'] }}</span></li>
                        {% endif %}

					</ul>
					<ul class="accounts col-md-5">
						<li class="top_li"><span class="fa fa-mobile"></span><a href="tel:+64273344770">+64273344770</a>
						</li>

						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span><a href="mailto:Changpo.jiang@lincolnuni.ac.nz">Need help? Contact Us </a>

						</li>
						
					</ul>
				</div>
			</div>
		</div>

	</div>

</section>
<!--//top-header-content-->

<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main w3l-inner-page-main">
    <div class="breadcrumb-infhny">
      <header class="top-headerhny">
        <!--/nav-->
        <nav class="navbar navbar-expand-lg navbar-light fill">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <label class="lohny"><span class="fa fa-graduation-cap" aria-hidden="true"></span>LU</label>
              Internship</a>
            <!-- if logo is image enable this   
              <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
              </a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-lg-auto ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">project</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">placement</a>
                </li>
  
  
                <li class="nav-item">
                  <a class="nav-link" href="#">help</a>
                </li>
              </ul>
  
            </div>
            <form action="#" method="post" class="d-flex searchhny-form">
              <input type="search" placeholder="Search Here..." required="required">
              <button type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </nav>
        <!--//nav-->
      </header>

    </div>
    <!--//banner-slider-->
  </section>
  
  <section class="content" Style="margin-top:30px;">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash"></div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>


	
<!-- footer -->
<footer class="footer bg-light" id="bottom">
  <section class="w3l-footer-16">
    <div class="w3l-footer-16-main py-5">
        <div class="container">

            <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                <div class="columns text-lg-left text-center">
                    <p><a target="_blank" href="https://campingmap.site/">Copyright &copy; LU Applied computing Group 21</a>
                	<a target="_blank" href="https://campingmap.site/">&nbsp;</a>
                    </p>
                </div>
                <div class="columns-2 mt-md-0 mt-3">
                    <ul class="social">
                        <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
 </section>
</footer>
<!-- //footer -->

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


</body>
</html>