/*footer {*/
/*     position: fixed;*/
/*    bottom: 0;*/
/*    width:100%;*/
/*    }*/
.question {
    min-width: 500px;
    max-width: 500px;
}

.signInLeft {
    padding-left: 0px !important;
}

.hide {
    display: none !important;
}

.backgroundColor {
    background: #2b4ae7;
}

.widthRegi {
    width: 30% !important;
}

.widthFull {
    min-width: 95% !important;
}

.error {
    border: 2px solid red !important;
}

.containerSlim {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.subContainer {
    padding-top: 50px;
}

.containerWider {
    max-width: 80%;
    align-content: center;
}

.sideContainer {

}

.left {
    float: left;
}
.form-control{
    width: 90% !important;
}
.right {
    float: right;
    max-width: 45% !important;
}
.chkBoxMargin{
    margin: 5px !important;
}

.itemLeft {
    flex: 1; /* 设置左边的 div 占据剩余宽度的比例 */
    max-width: 29% !important;
    margin-right: 50px;
}

.itemRight {
    flex: 1; /* 设置右边的 div 占据剩余宽度的比例 */
    max-width: 29% !important;
}