/*footer {*/
/*     position: fixed;*/
/*    bottom: 0;*/
/*    width:100%;*/
/*    }*/
.question {
    min-width: 500px;
    max-width: 500px;
}

.signInLeft {
    padding-left: 0px !important;
}
.paddingtop6rem{
    padding-top: 6rem!important;
}

.hide {
    display: none !important;
}
.ui-timepicker-standard{
    z-index: 99999999999 !important;
}
.backgroundColor {
    background: #2b4ae7;
}

.widthRegi {
    width: 30% !important;
}
.widthQuestion {
    width: 90% !important;
    padding-left: 50px;
    padding-top: 200px;
}
.w3l-apply-6 .apply-info label{
    letter-spacing: normal;
    text-transform: none !important;
}

.widthFull {
    min-width: 95% !important;
}

.error {
    border: 2px solid red !important;
}

.containerSlim {

    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
}

.subContainer {
    padding-top: 50px;
}

.containerWider {
    max-width: 80%;
    align-content: center;
}

.sideContainer {

}

.left {
    float: left;
}
.form-control{
    width: 90% !important;
}
.right {
    float: right;
    max-width: 45% !important;
}
.chkBoxMargin{
    margin: 5px !important;
}

.itemLeft {
    flex: 1; /* 设置左边的 div 占据剩余宽度的比例 */
    max-width: 29% !important;
    margin-right: 50px;
}

.itemRight {
    flex: 1; /* 设置右边的 div 占据剩余宽度的比例 */
    max-width: 29% !important;
}