<!-- Name: CP Jiang / Student ID: 1148594 -->
<!-- Use Bootstrap nav class to give the nav bar a modern view -->
<!-- Added a project page for role mentor -->

{% extends "mentor/mentorbase.html" %}
{% block content %}


<body>
	<!-- portfolio -->

{#	<section class="w3-gallery">#}
{#		<div class="porfolio-inf py-5">#}
{#			<div class="container pt-lg-5 pb-lg-4">#}
{#				<table class="table">#}
{#					<thead>#}
{#						<tr>#}
{#							<th scope="col">#</th>#}
{#							<th scope="col">Project Title</th>#}
{#							<th scope="col">Description</th>#}
{#							<th scope="col">number of students</th>#}
{#							<th scope="col">project type</th>#}
{#							<th scope="col">strat date</th>#}
{#							<th scope="col">ending date</th>#}
{#							<th scope="col">remain number of students</th>#}
{#							<th scope="col">company name</th>#}
{#						</tr>#}
{#					</thead>#}
{#					<tbody>#}
{#						{% for project in projects %}#}
{#						<tr>#}
{#							<th scope="row">{{project['id']}}</th>#}
{#							<td>{{project['project_title']}}</td>#}
{#							<td>{{project['description']}}</td>#}
{#							<td>{{project['number_of_student']}}</td>#}
{#							<td>{{project['project_type']}}</td>#}
{#							<td>{{project['start_date']}}</td>#}
{#							<td>{{project['end_date']}}</td>#}
{#							<td>{{project['remain_number_of_student']}}</td>#}
{#							<td>{{project['company_id']}}</td>#}
{#							<td><button type="button" class="btn btn-primary">prefered students</button></td>#}
{#						</tr>#}
{#						{% endfor %}#}
{##}
{#					</tbody>#}
{#				</table>#}
{#			</div>#}
{#		</div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#	</section>#}

	<div style="padding-top:50px;min-height: 700px">
        <div class="container widthFull">
            <table id="myTableOne" class="display">
                <thead>
                <tr>
					<th scope="col"></th>
					<th scope="col">Project Title</th>
					<th scope="col">Description</th>
					<th scope="col">number of students</th>
					<th scope="col">project type</th>
					<th scope="col">start date</th>
					<th scope="col">end date</th>
					<th scope="col">remain number of students</th>
					<th scope="col">company name</th>
					<th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            {% if  session['role'] ==2 %}<button class="btn btn-primary" onclick="addNewMentor()">Add preferred</button>
            {% endif %}
        </div>
    </div>
    <script>
                {% if session['role'] ==1 %}
            var btn = [{
                "btnName": "Preferred Students",
                "func": "alert"
            }
            ];
                {% elif session['role'] ==2%}
           var btn =  [{
                "btnName": "Add to Wishlist",
                "func": "alert"
            }
            ];{% endif %}


        $(function () {
            renderDataTable('#myTableOne', '/mentor/getProjectAllJson',[
                            {"data": null},
                            {"data": "project_title"},
                            {"data": "description"},
                            {"data": "number_of_student"},
                            {"data": "type_name"},
							{"data": "start_date"},
							{"data": "end_date"},
							{"data": "remain_number_of_student"},
							{"data": "company_name"},
                        ], true,true, 9, btn);
        })

	
    </script>
	<!-- //footer -->
</body>



<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!-- disable body scroll which navbar is in active -->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="assets/js/bootstrap.min.js"></script>

{% endblock %}

