{% extends "base.html" %}
{% block content %}
    <div style="padding-top:50px;min-height: 700px">
        <div class="container">
            <table id="myTableStudent" class="display">
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Student No</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>CV</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="addNewMentor()">Add new Mentor</button>

        </div>
    </div>
    <script>
        var flag = {% if session['role'] ==0 %} true {% else %} false{% endif %}
        $(function () {
            getAllMentors('#myTableStudent', '/student/getAllJson', [
                {"data": "first_name"},
                {"data": "last_name"},
                {"data": "student_id_no"},
                {"data": "phone"},
                {"data": "email"},
                {"data": "cv"},
                {"data": null},
            ],flag);
        })

    </script>
{% endblock %}
